
#tableSide{
    top:20%;
    bottom:20%;
    right: 5%;
    background-color:antiquewhite;
    position: fixed;
    width: 35vw;
    height: 35vw;
}

#leftSide{
    float: left;
    width: 60%;
}

h1{
    color:brown;
    margin-left:25%;
    font-family:'Gloucester MT';
    font-size:72px;
}