.Table{
    background-color:greenyellow;
    max-height: 200px;
    overflow: auto;
    margin-top: 25px;
    border-radius: 20px;
    width: 700px;
}

.Figure{
    background-color: lightblue;
    max-height: 200px;
    overflow: auto;
    margin-top: 25px;
    border-radius: 20px;
    width: 700px;
}
