body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.listItem {
    position: relative;
    display: block;
    padding: 5px;
    margin: 5px;
}

.listItem > label {
    display: inline-block;
    width: 55%;
}

.listItem > button {
    position: absolute;
    top: 50%;
    font-size: 9pt;
    margin-top: -12px;
    float: right;
    width: 40%;
}

.close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ovo da se izmesti */

.sorting, .sorting_asc, .sorting_desc {
    visibility: hidden;
}

.mainContainer {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    margin: 10px auto;

    background-color: #e1ab3c;
}

.dataTablesContainer {
    display: inline-block;
    float: left;
    width: 75%;
    min-width: 700px;
    max-width: 1200px;
    height: 100%;
    padding: 15px 5px;

    border: 1px solid #000050;
    border-radius: 5px;
}

.thirdContainer {
    display: inline-block;
    width: 32%;
    min-width: 220px;
    vertical-align: top;
}

.globalChatContainer {
    display: inline-block;
    float: right;
    width: 20%;
    min-width: 150px;
    max-width: 240px;
    height: 100%;
    padding: 15px 5px;
    margin: 5px;

    background-color: #9feb5c;
    border: 1px solid #000050;
    border-radius: 5px;
}
