.Test1 {
  background-color: #a4b9db;
  color: #b58863;
}

.Test2 {
  background-color: #3d0308;
  color: #b58863;
}

.Test3 {
  background-color: #ceadb0;
  color: #b58863;
}

Test4 {
  background-color: #010721;
  color: #b58863;
}