body {
   background-color:#d1a268;
}

.rankTableDiv{
    width: 40%;
    float: left;
    padding-left:5%;
    margin-left:5%;
}

.myClassRankingDiv{
     width: 40%;
     float: left;
     padding-left:5%;
     margin-left:5%;
}

.rankTable{
    width:100%;
}

.rankTable thead{
   background-color:#f4e6cb;
}

.rankTable thead tr{
   background-color:#f4e6cb;
   height: 50px;
   font-family:'Segoe UI Emoji';
   font-size: 20px;
   font-style:oblique;
}

.rankTable tbody tr{
   background-color:#f2dfba;
   height: 30px;
   font-family:'Segoe UI Emoji';
   font-size: 15px;
   font-style:oblique;
}

#ranking-table_paginate ul li{
   background-color:#f4e6cb;
}
