@{ Layout = null; }

@{ ViewBag.Title = "Register Page"; }

<head>
    <link href="@Url.Content("~/Content/register-page.css")" rel="stylesheet" />
</head>

<body>
    <div class="log-reg">
        <ul>
            <li id="ul-li">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <h2 id="h21">or</h2>
            <li id="ul-li">@Html.ActionLink("Log in  ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
    <img id="figura" src="~/Resources/IndexUkras.png" />
</body>